<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./elements/config.ejs %>
    <title>Journal</title>
</head>
<body>
    <% include ./elements/header.ejs %>
    <section id="content">
            <a>Type something:</a>
            <form action="/newentry" method="post">
                <textarea id="source" name="source"></textarea>
                <input type="submit" value="Add new entry">
            </form>
            <% if (locals.errors){ %>
                <br><span style="color: red"><%= errors %></span><br>
            <% } %>
            <% if (locals.message){ %>
                <br><span style="color: green"><%= message %></span><br>
            <% } %>
            <% if (locals.posts) { %>
                <div class="posts">
                    <% posts.forEach(function(post) { %>
                        <div class="post">
                        <div class="bar">
                            <%= post.time %>
                            <form class="deleteform" method="get" action="/remove/<%= post.id %>"><input type="submit" class="delete" value="Delete"></form>
                            <div class="edit" onclick="edit('<%= post.id %>')">Edit</div>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="text" id="<%= post.id %>"><%= post.text %></div>
                        </div>
                    <% }); %>
                </div>
                <% } %>
    </section>
    <div style="clear: both"></div>
</body>
</html>
<script>
let editing = [];
let tmp = [];
function edit(id)
{
    if(editing.includes(id))
    {
        editing.pop(editing.indexOf(id));
        document.getElementById(id).innerHTML = tmp[id];
        tmp[id] = "";        
    }
    else{
        editing.push(id);
        let text = document.getElementById(id).innerHTML;
        tmp[id] = text;
        document.getElementById(id).innerHTML = `<form action="/editentry/${id}" method="post">
                <textarea name="source">${text}</textarea>
                <br><input type="submit" value="Edit entry">
            </form>`;
    }

}
</script>