<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./elements/config.ejs %>
    <title>Journal</title>
</head>
<body>
    <% include ./elements/header.ejs %>
    <section id="content">
            <a>Type something:</a>
            <form action="/newentry" method="post">
                <textarea id="source" name="source"></textarea>
                <input type="submit" value="Add new entry">
            </form>
            <% if (locals.errors){ %>
                <br><span style="color: red"><%= errors %></span><br>
            <% } %>
            <% if (locals.message){ %>
                <br><span style="color: green"><%= message %></span><br>
            <% } %>
            <% if (locals.posts) { %>
                <div class="posts">
                    <% posts.forEach(function(post) { %>
                        <div class="post">
                        <div class="time"><%= post.time %> <form class="deleteform" method="get" action="/remove/<%= post.id %>"><input type="submit" class="delete" value="Delete"></form></div>
                        <div class="text"><%= post.text %></div>
                        </div>
                    <% }); %>
                </div>
                <% } %>
    </section>
    <div style="clear: both"></div>
</body>
</html>