<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./elements/config.ejs %>
    <title>Journal</title>
</head>
<body>
    <% include ./elements/header.ejs %>
    <section id="content">
    <h2>Register</h2>
    <form method="POST">
    Email:<br>
    <% if (locals.email) { %>
    <input type="text" name="email" value="<%= email %>"><br>
    <% } else { %>
    <input type="text" name="email"><br>
    <% } %>
    <% if (locals.emailErrors){ %>
    <span style="color: red"><%= emailErrors %></span>
    <br>
    <% } %>
    Username:<br>
    <% if (locals.username) { %>
    <input type="text" name="username" value="<%= username %>"><br>
    <% } else { %>
    <input type="text" name="username"><br>
    <% } %>
    <% if (locals.usernameErrors){ %>
    <span style="color: red"><%= usernameErrors %></span>
    <br>
    <% } %>
    Password:<br>
    <% if (locals.username) { %>
    <input type="password" name="password" value="<%= password %>"><br>
    <% } else { %>
    <input type="password" name="password"><br>
    <% } %>
    <% if (locals.passwordErrors){ %>
    <span style="color: red"><%= passwordErrors %></span>
    <br>
    <% } %>
    Confirm password:<br>
    <input type="password" name="passwordRepeat"><br>
    <% if (locals.passwordRepeatErrors){ %>
    <span style="color: red"><%= passwordRepeatErrors %></span>
    <br>
    <% } %>
    <input type="submit" value="Register">
    </form>
    </section>
    <div style="clear: both"></div>
</body>
</html>